.flex-1 {
  flex: 1;
}

.vw-100 {
  width: 100vw;
}

.order-9 {
  order: 9;
}

.order-10 {
  order: 10;
}

.lh-nav {
  line-height: 1.8;
}

.dn-ns {
  display: none;

  @media screen and (min-width: 30em) {
    display: block;
  }
}

.monospace {
  font-family: $monospace;
}

.pr-nav {
  animation-duration: 400ms;
  animation-fill-mode: forwards;
  animation-name: navin;
  animation-timing-function: ease-out;
}

@keyframes navin {
  from {
    transform: translateY(-150%);
  }

  to {
    transform: translateY(0);
  }
}

.nav-link {
  position: relative;

  &::before {
    content: '';
    display: block;
    height: 1px;
    left: -10%;
    position: absolute;
    top: 50%;
    transition: width 0s ease, background 400ms ease;
    width: 0;
  }

  &::after {
    background: $black;
    content: '';
    display: block;
    height: 1px;
    position: absolute;
    right: -10%;
    top: 50%;
    transition: width 400ms ease;
    width: 0;
  }

  &:hover::before {
    background: $black;
    transition: width 400ms ease;
    width: 120%;
  }

  &:hover::after {
    background: transparent;
    transition: all 0 ease;
    width: 120%;
  }
}

.wrd {
  display: inline-block;
  overflow: hidden;
  line-height: 1.06;
}

.txt {
  animation-delay: 400ms;
  animation-duration: 400ms;
  animation-fill-mode: forwards;
  animation-name: textin;
  animation-timing-function: ease-out;
  display: block;
  font-size: 2.25rem;
  font-weight: 800;
  transform: translateY(100%);
  white-space: pre;

  @media (min-width: 35.5em) {
    font-size: 7.2vw;
  }

  @media (min-width: 40.063em) {
    font-size: 6.2vw;
  }

  @media (min-width: 64em) {
    font-size: 5.9vw;
  }
}

@keyframes textin {
  from {
    transform: translateY(100%);
  }

  to {
    transform: translateY(0);
  }
}
