.flex-1 {
  flex: 1;
}

.vw-100 {
  width: 100vw;
}

.order-9 {
  order: 9;
}

.order-10 {
  order: 10;
}

.lh-nav {
  line-height: 1.8;
}

.dn-ns {
  display: none;

  @media screen and (min-width: 30em) {
    display: block;
  }
}

.monospace {
  font-family: $monospace;
}

.pr-nav {
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-name: navIn;
  animation-timing-function: $animation-function;
  transform: translateY(-150%);
}

@keyframes navIn {
  from {
    transform: translateY(-150%);
  }

  to {
    transform: translateY(0);
  }
}

.nav-link {
  position: relative;

  &::before {
    content: '';
    display: block;
    height: 1px;
    left: -10%;
    position: absolute;
    top: 50%;
    transition: width 0s ease, background 400ms ease;
    width: 0;
  }

  &::after {
    background: $black;
    content: '';
    display: block;
    height: 1px;
    position: absolute;
    right: -10%;
    top: 50%;
    transition: width 400ms ease;
    width: 0;
  }

  &:hover::before {
    background: $black;
    transition: width 400ms ease;
    width: 120%;
  }

  &:hover::after {
    background: transparent;
    transition: all 0 ease;
    width: 120%;
  }
}

.wrd {
  display: inline-block;
  margin-right: 0.35rem;
  overflow: hidden;
}

.txt {
  animation-delay: 400ms;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-name: textIn;
  animation-timing-function: $animation-function;
  display: block;
  font-size: 2.25rem;
  font-weight: 800;
  letter-spacing: -0.055em;
  transform: translateY(100%);
  white-space: pre;

  @media (min-width: 35.5em) {
    font-size: 8.2vw;
  }

  @media (min-width: 40.063em) {
    font-size: 7.2vw;
  }

  @media (min-width: 64em) {
    font-size: 6.2vw;
  }
}

@keyframes textIn {
  from {
    transform: translateY(100%);
  }

  to {
    transform: translateY(0);
  }
}

.block {
  padding: 11.4vw 0 11.4vw;
  position: relative;

  @media (max-width: 767px) {
    padding: 50px 0;
  }
}

.wrap-single {
  margin: 0 auto;
  width: 71.5vw;

  @media (max-width: 767px) {
    width: 86%;
  }
}

.wrap-pres {
  font: 300 normal 2.15vw/3.42vw $sans-serif;
  margin: 0 auto;
  padding: 13.4vw 0 3vw;
  width: 44.5vw;

  @media (max-width: 767px) {
    font: 400 normal 20px/36px $sans-serif;
    padding: 50px 7vw 0;
    width: 100%;
  }
}

.begin-pres {
  margin: 0;
  padding-top: 10vw;

  @media (max-width: 767px) {
    padding-top: 50px;
  }
}
