.lh-tighter {
  line-height: 0.8;
}

.lh-tight {
  line-height: 0.9;
}

.lh-extend {
  line-height: 1.6;
}

.lh-double {
  line-height: $line-height-double;
}

.tracked {
  letter-spacing: 0.02em;
}

.tracked-tighten {
  letter-spacing: -0.03em;
}

.pr-header {
  display: grid;
  grid-column-gap: 16px;
  grid-row-gap: 0;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 1fr;
}

.grid {
  display: grid;
  grid-auto-columns: 1fr;
  grid-auto-flow: row;
  grid-column-gap: 1rem;
  grid-row-gap: 4rem;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto;

  @media (min-width: 40em) {
    grid-column-gap: 6rem;
    grid-row-gap: 10rem;
  }

  @media (min-width: 64em) {
    grid-column-gap: 10rem;
    grid-row-gap: 10rem;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
}

.hero-grid-1 {
  grid-area: 1 / 1 / 6 / 8;

  @media (min-width: 30em) {
    grid-area: 1 / 1 / 6 / 7;
  }

  @media (min-width: 40em) {
    grid-area: 1 / 1 / 2 / 6;
  }
}

.hero-grid-2 {
  grid-area: 1 / 1 / 6 / 8;

  @media (min-width: 30em) {
    grid-area: 1 / 7 / 3 / 10;
  }

  @media (min-width: 40em) {
    grid-area: 1 / 6 / 3 / 9;
  }
}

.hero-grid-3 {
  grid-area: 1 / 10 / 2 / 12;

  @media (min-width: 30em) {
    grid-area: 1 / 10 / 3 / 13;
  }

  @media (min-width: 40em) {
    grid-area: 1 / 9 / 2 / 12;
  }
}

.hero-grid-4 {
  display: none;

  @media (min-width: 40em) {
    display: block;
    grid-area: 1 / 10 / 3 / 13;
    justify-self: end;
  }

  @media (min-width: 45em) {
    grid-area: 1 / 11 / 2 / 13;
    justify-self: end;
  }
}

.globe {
  margin-right: 8px;
  position: relative;
  top: 0.06rem;
}

.footer-intro {
  padding: 8rem 3.5rem 0;

  @media (max-width: 767px) {
    padding: 50px 5vw 35px;
  }
}

.hero-text {
  font-size: 7.5vw;
  font-weight: 500;
  line-height: 1.1;

  @media (min-width: 48em) {
    font-size: 5.5vw;
    line-height: 0.5;
  }
}

.txt {
  letter-spacing: -0.01em;
  line-height: 1.1;
}

.subtext {
  font-size: 4.25vw;
  font-weight: 400;

  @media (min-width: 48em) {
    font-size: 1.4vw;
  }

  .txt-wrap:first-child {
    font-size: 4.75vw;
    font-weight: 500;

    @media (min-width: 48em) {
      font-size: 1.75vw;
    }
  }
}

.site-title {
  color: $black;
  font-size: 1.42rem;
  font-weight: 600;
  letter-spacing: -0.02em;
  line-height: 1.18;
}

.footer-text {
  font-size: 1.978rem;
  font-weight: 500;

  @media (min-width: 64em) {
    font-size: 6vw;
  }
}

.pre-graph::before {
  background-color: $white;
  content: '';
  display: block;
  height: 3px;
  width: 35px;
  top: -2rem;
  position: relative;
}

.trans-link {
  position: relative;
  transition: opacity 150ms ease;

  &::before {
    content: '';
    display: block;
    height: 1px;
    left: 0;
    position: absolute;
    bottom: 0;
    transform: translateY(100%);
    transition: width 0s ease, background 400ms ease;
    width: 0;
  }

  &::after {
    background: $black;
    content: '';
    display: block;
    height: 1px;
    position: absolute;
    right: 0;
    bottom: 0;
    transform: translateY(100%);
    transition: width 400ms ease;
    width: 0;
  }

  &[data-color="dark"] {
    color: $black;

    &::after {
      background: $black;
    }

    &:hover::before {
      background: $black;
    }
  }

  &[data-color="light"] {
    color: $white;

    &::after {
      background: $white;
    }

    &:hover::before {
      background: $white;
    }
  }

  &:hover::before {
    background: $black;
    transition: width 400ms ease;
    width: 100%;
  }

  &:hover {
    opacity: 1;
  }

  &:hover::after {
    background: transparent;
    transition: all 0 ease;
    width: 100%;
  }
}

.block {
  padding: 11.4vw 0 11.4vw;
  position: relative;

  @media (max-width: 767px) {
    padding: 64px 0;
  }
}

.wrap-single {
  margin: 0 auto 10vw;
  width: 72vw;

  @media (max-width: 767px) {
    margin-bottom: 50px;
    width: 86%;
  }
}

.wrap-pres {
  font: 400 normal 2.5vw/3.5vw $sans-serif;
  margin: 0 auto;
  padding: 12vw 0 3vw;
  width: 46vw;

  @media (max-width: 767px) {
    font: 400 normal 20px/32px $sans-serif;
    padding: 50px 7vw 0;
    width: 100%;
  }
}

.pr-asset {
  margin: 11vw 0 0;

  @media (max-width: 767px) {
    margin: 50px 0 0;
  }
}

.pr-video-wrap {
  font-size: 0;
}

.pr-video {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.img-wrap,
.pr-video-wrap,
.banner-wrap {
  font-size: 0;
  overflow: hidden;
}

.grain {
  display: block;
  overflow: hidden;
  pointer-events: none;

  &::after {
    animation: grain 8s steps(10) infinite;
    background: url(~styles/images/noise.png);
    content: '';
    display: block;
    height: 300%;
    left: -100%;
    opacity: 0.3;
    pointer-events: none;
    position: fixed;
    top: -100%;
    width: 300%;
    z-index: 0;

    @media (min-width: 500px) {
      opacity: 0.6;
    }
  }
}

@keyframes grain {
  0%,
  100% {
    transform: translate(0, 0);
  }

  10% {
    transform: translate(-5%, -10%);
  }

  20% {
    transform: translate(-15%, 5%);
  }

  30% {
    transform: translate(7%, -25%);
  }

  40% {
    transform: translate(-5%, 25%);
  }

  50% {
    transform: translate(-15%, 10%);
  }

  60% {
    transform: translate(15%, 0%);
  }

  70% {
    transform: translate(0%, 15%);
  }

  80% {
    transform: translate(3%, 25%);
  }

  90% {
    transform: translate(-10%, 10%);
  }
}

.seveneleven-robot {
  left: 18%;
  position: absolute;
  top: 4%;
  width: 20vw;
}
