@import './fonts.scss';
@import './variables.scss'; // Must appear before tachyons.scss
@import '~tachyons-sass/tachyons.scss';
@import './global_styles';

html {
  background-color: $black;
  box-sizing: border-box;
  position: relative;
}

body {
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-name: bodyIn;
  animation-timing-function: $animation-function-fade;
  background-color: $near-white;
  box-sizing: inherit;
  color: $black;
  font-family: $sans-serif;
  font-kerning: normal;
  font-smoothing: antialiased;
  font-variant-ligatures: contextual common-ligatures;
  font-weight: 400;
  opacity: 0;
  overflow-x: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
}

@keyframes bodyIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
  text-rendering: optimizelegibility;
  z-index: 2;
}

h1 {
  font-weight: 800;
}

p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0;
  margin-inline-end: 0;
}

p + p::before,
.p-break::before {
  content: '\00a0\A';
  white-space: pre-line;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;

  &:focus {
    outline: dotted 1px $black;
  }
}

::selection {
  background: $black-80;
  color: $white;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f0f2f3;
  border-left: 1px solid #2c2c2c;
}

::-webkit-scrollbar-thumb {
  background: #f0f2f3;
  border-bottom: 1px solid #2c2c2c;
  border-left: 1px solid #2c2c2c;
  border-top: 1px solid #2c2c2c;
}

::-webkit-scrollbar-thumb:hover {
  background: #f0f2f3;
  border-bottom: 1px solid #2c2c2c;
  border-left: 1px solid #2c2c2c;
  border-top: 1px solid #2c2c2c;
}
