@font-face {
  font-family: 'Suisse Regular';
  src:
    url('~styles/fonts/SuisseIntl-Regular-WebTrial.woff2') format('woff2'),
    url('~styles/fonts/SuisseIntl-Regular-WebTrial.woff') format('woff');
}

@font-face {
  font-family: 'Suisse Semi Bold';
  src:
    url('~styles/fonts/SuisseIntl-SemiBold-WebTrial.woff2') format('woff2'),
    url('~styles/fonts/SuisseIntl-SemiBold-WebTrial.woff') format('woff');
}

@font-face {
  font-family: 'Suisse Bold';
  src:
    url('~styles/fonts/SuisseIntl-Bold-WebTrial.woff2') format('woff2'),
    url('~styles/fonts/SuisseIntl-Bold-WebTrial.woff') format('woff');
}

@font-face {
  font-family: 'Simplon Mono';
  src:
    url('~styles/fonts/SimplonMono-Regular-WebTrial.woff2') format('woff2'),
    url('~styles/fonts/SimplonMono-Regular-WebTrial.woff') format('woff');
}
