@font-face {
  font-display: auto;
  font-family: 'S';
  src:
    url('~styles/fonts/S.woff2') format('woff2'),
    url('~styles/fonts/S.woff') format('woff');
}

@font-face {
  font-display: auto;
  font-family: 'F';
  src:
    url('~styles/fonts/F.woff2') format('woff2'),
    url('~styles/fonts/F.woff') format('woff');
  font-weight: 400;
}

@font-face {
  font-display: auto;
  font-family: 'F';
  src:
    url('~styles/fonts/F-300.woff2') format('woff2'),
    url('~styles/fonts/F-300.woff') format('woff');
  font-weight: 300;
}
