@font-face {
  font-family: 'Suisse';
  src:
    url('~styles/fonts/SuisseIntl-Regular-WebTrial.woff2') format('woff2'),
    url('~styles/fonts/SuisseIntl-Regular-WebTrial.woff') format('woff');
  font-weight: 400;
}

@font-face {
  font-family: 'Suisse';
  src:
    url('~styles/fonts/SuisseIntl-SemiBold-WebTrial.woff2') format('woff2'),
    url('~styles/fonts/SuisseIntl-SemiBold-WebTrial.woff') format('woff');
  font-weight: 600;
}

@font-face {
  font-family: 'Suisse';
  src:
    url('~styles/fonts/SuisseIntl-Bold-WebTrial.woff2') format('woff2'),
    url('~styles/fonts/SuisseIntl-Bold-WebTrial.woff') format('woff');
  font-weight: 800;
}

@font-face {
  font-family: 'Simplon Mono';
  src:
    url('~styles/fonts/SimplonMono-Regular-WebTrial.woff2') format('woff2'),
    url('~styles/fonts/SimplonMono-Regular-WebTrial.woff') format('woff');
}
